<section class="hero">
  <h2 class="titulo-hero">Aprende todo sobre Bitcoin</h2>
  <p class="texto-hero">
    La educación es fundamental para entender y adoptar esta revolucionaria
    tecnología.
  </p>
</section>

<section class="caracteristicas">
  <article class="tarjeta" (click)="navigateTo('/wallets')">
    <h3 class="titulo-tarjeta">Wallets</h3>
    <p class="texto-tarjeta">
      Aprende cómo almacenar tus bitcoins de forma segura.
    </p>
  </article>
  <article class="tarjeta" (click)="navigateTo('/mineria')">
    <h3 class="titulo-tarjeta">Minería</h3>
    <p class="texto-tarjeta">
      Entiende el proceso que mantiene segura la red Bitcoin.
    </p>
  </article>
  <article class="tarjeta" (click)="navigateTo('/nodos')">
    <h3 class="titulo-tarjeta">Nodos</h3>
    <p class="texto-tarjeta">
      Descubre la importancia de los nodos en la red descentralizada.
    </p>
  </article>
</section>

<section class="contenido-adicional">
  <h2 class="titulo-seccion">Filosofía Bitcoin</h2>
  <p class="texto-seccion">
    "Bitcoin es una tecnología de libertad que devuelve el control del dinero a
    los individuos." (Satoshi Nakamoto, 2008).
  </p>
</section>

<!-- Sección de navegación tarjetas -->
<!--<div class="caracteristicas">
  <div class="tarjeta" (click)="navigateTo('/mineria')">
    <h3 class="titulo-tarjeta">Minería</h3>
    <p>Entiende el proceso que mantiene segura la red Bitcoin</p>
  </div>

  <div class="tarjeta" (click)="navigateTo('/wallets')">
    <h3 class="titulo-tarjeta">Wallets</h3>
    <p>Aprende sobre billeteras Bitcoin</p>
  </div>

  <div class="tarjeta" (click)="navigateTo('/nodos')">
    <h3 class="titulo-tarjeta">Nodos</h3>
    <p>Entiende la infraestructura de la red</p>
  </div>
</div>-->
